.portfolio
	display flex
	position relative
	justify-content space-around
	width 100%
	font-size 0
	&::before
		content ''
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		backImage(bike,'svg', repeat)
		background-size 40%
		opacity 0.4
	&__item
		display flex
		position relative
		transition-duration 0.4s
		&::before
			content attr(data-title)
			position absolute
			top 65%
			left 10px
			font-family $courier
			font-weight 700
			text-transform uppercase
			font-size 70px
			z-index 10
			opacity 0
			color $font-brown
			transition-duration 0.6s
		&:hover
			filter none
			&:nth-of-type(2)
				&::before
					left -50px
			&::before
				left -40px
				opacity 1
			& img
				&:nth-of-type(2)
					transform translate(-20px, 10px)
				&:nth-of-type(3)
					transform translate(-40px, 20px)
	&__image
		border-radius 10px
		height 400px
		display none
		transition-duration 0.4s
		position relative
		&:nth-of-type(2)
			position absolute
			right 0
			top 0
			z-index 1
		&:nth-of-type(3)
			position absolute
			right 0
			top 0
			z-index 2
	&__link
		display flex
	&__svg
		transition-duration 0.4s
		margin auto
		&:nth-of-type(2)
			position absolute
			right 0
			top 0
			z-index 1
		&:nth-of-type(3)
			position absolute
			right 0
			top 0
			z-index 2
		&:hover
			&:nth-of-type(2)
				transform translate(-20px, 10px)
			&:nth-of-type(3)
				transform translate(-40px, 20px)

	@supports (filter sepia(0.8))
		&__item
			filter sepia(0.8)
		&__svg
			display none
		&__image
			display block
	+below($mobile)
		flex-direction column
		align-items center
		&__item
			margin-bottom 20px
			&::before
				opacity 1
				left -25px
			&:hover
				filter none
				left: -10px
				&:nth-of-type(2)
					&::before
						left -25px
				&::before
					left -25px

				& img
					&:nth-of-type(2)
						transform none
					&:nth-of-type(3)
						transform none
