include ../photo/photo
include ../text-section/text-section
include ../certificates/certificates
include ../portfolio/portfolio
include ../signature/signature

mixin file-content()
	+b('main').file-content&attributes(attributes)
		+e('h1').title
			|	Дело №__
		+e('section').biography
			+e('figure').photo-box
				+photo()
			+text-section()._file
				|	Гр. Тарановский В.С. получил диплом Южно-Российского Государственного Технического Университета по специальности
				|	"Технология Машиностроения". После службы офицером в рядах ВС работал инженером-конструктором на предприятии тяжёлогого атомного
				|	машиностроения. Освоил работу в CAD/CAM/CAE системе высшего уровня Unigraphics(NX). После этого работал в службах маркетинга промышленных
				|	предприятий. В 2013 г. учредил коммерческую компанию <a href='http://www.100бумаг.рф'>100 бумаг</a>, которая занимается снабжением
				|	организаций региона офисными принадлежностями.
			+text-section()._file
				|	В 2017 г. твёрдо решил начать карьеру в IT. Проходит обучение на образовательном ресурсе <a href='https://ru.hexlet.io'>Hexlet</a> по направлению "Frontend разработка".
				|	С целью получения базовых знаний о WEB-технологиях, а так же освоения профессии верстальщика поступил на курсы<a href='https://htmlacademy.ru'>HTML academy</a>.
			+e('figure').portfolio-box
				+portfolio(getData('portfolio'))
				+e('figcaption').caption Рис.1 Выполненные проекты.
			+text-section()._file
				|	В рамках базового и продвинутого интенсивов HTML academy выполнил и успешно защитил 2 учебных проекта (рис. 1), о чём свидетельствуют
				|	полученные сертификаты (рис. 2).
			+e('figure').achievements-box
				+certificates()
				+e('figcaption').caption Рис.2 Полученные сертификаты.
			+text-section()._file
				|	За последние несколько месяцев освоил технологии и инструменты, необходимые для начала трудовой деятельности на должности верстальщика.
				|	С их перечнем можно ознакомиться в <a href='index.html'>личной анкете</a>. В дальнейшем планирует углублять свои знания: постигать дцен
				|	функциональной парадигмы, изучить сети и *nix системы, освоить React и Node JS.
			+text-section()._file
				|	Личные качества: любознательный, упорный, амбициозный. Обладает ярко выраженной тягой к самообразованию. Любит решать сложные задачи.
				|	Нравится: море, ром, путешествия. Не нравится: <s>не-море, не-ром...</s> глупость и равнодушие. Чувство юмора - отсутсвует.
			+text-section()._file
				|	В связи с вышесказанным прошу комманду <a href='http://csssr.ru/'>CSSSR</a> и лично тов. <a href='https://twitter.com/lise_yy'>@lise_yy </a>
				|	рассмотреть кандидатуру Тарановского В.С. на должность верстальщика пиксель-перфекциониста.
		+e('section').signature
			+signature()

		block
