include ../index-title/index-title
include ../input-list/input-list
include ../checkbox-list/checkbox-list
include ../slider/slider
include ../text-section/text-section
include ../radio-list/radio-list


mixin index-content()
	+b('main').index-content&attributes(attributes)
		+e.title()
			+index-title()
		+e('section').person-info
			+e('h2').subtitle._person-info._hidden
				|	Персональная информация
			+input-list(getData('person'))
		+e('section').gen-skills
			+e('h2').subtitle_gen-skills
				|	Расскажите о себе чекбоксами
			+e('p').section-desc_gen-skills
				|	Отметьте чекбоксами пункты,&#8198;которые соответствуют вашим скиллам.
				|	Кстати,&#8198;отсутствие опыта не означает,&#8198;что у вас меньше шансов стать одним из наших товарищей.
				|	Это означает,&#8198;что вы будете получать те задачи,&#8198;с которыми гарантировано будете справляться.
			+checkbox-list(getData('genSkills'))
		+e('section').js-skills
			+e('h2').subtitle_js-skills
				|	Уровень владения JavaScript
			+slider(getData('jsLevel'))
		+e('section').about-me
			+e('h2').subtitle_about-me
				|	Расскажите о себе словами
			+e('p').section-desc_about-me
				|	Напишите пару предложений,&#8198;чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR.
				|	Кстати, будет здорово,&#8198;если при нехватке места для текста строки будут добавляться автоматически.
			+text-section()
				|	Ну-ууу-уу...<br>
				|	Ээээ...<br>
				+e('a')(href='file.html').link Досье
				|	Ыыыы...
		+e('section').in-future
			+e('h2').subtitle_in-future
				|	Какие у вас планы на будущее?
			+e('p').section-desc_in-future
				|	Этот ответ ни на что не повлияет.&#8198;Не беда,&#8198;если в будущем ваши планы поменяются.
			+radio-list(getData('inFuture'))
		+e('section').date
			+e('h2').subtitle._date._hidden
				| 	Дата заполнения
			+input-list(getData('date'))._date
		block
