.radio-list
	// outln magenta
	display flex
	align-content flex-start
	&__item
		// outln green
		position relative
		margin-right 19px
		padding-left 33px
		&_js
			margin-right 24px
		&_manager
			margin-right 20px
		&_layout
			&::after
				left -2px;
	&__label
		// outln red
		position relative
		font-size 20px
		line-height 25px
		color black
		cursor pointer
		&::after
			content ''
			position absolute
			top -2px
			left -33px
			display block
			sprite($radio)
			cursor pointer
		&_layout
			&::after
				left -35px
		&_other
			top -1px
			&::after
				top -1px

		&:hover
			opacity 0.6
		&:active
			opacity 0.3
	&__input
		visHidden()
		&:checked + label::before
			content ''
			position absolute
			top 6px
			left -25px
			display block
			sprite($point)
		&_layout:checked + label::before
			left -27px
		&_other:checked + label::before
			top 7px

	+below($mobile)
		flex-direction column
		flex-wrap wrap
		margin-right 0
		&__item
			margin-bottom 20px
		&__label
			&_layout
				&::after
					left -33px
			&_other
				top 0px
				&::after
					top -2px
		&__input
			&_layout:checked + label::before
				left -25px
			&_other:checked + label::before
				top 6px

