@font-face
	font-weight 400
	font-family "Pt Sans"
	font-style normal

	src local("PT Sans"), local("PT Sans Regular"),
		url("../fonts/ptsans.woff2") format("woff2"),
		url("../fonts/ptsans.woff") format("woff")

@font-face
	font-weight 700
	font-family "Pt Sans"
	font-style normal

	src local(""), local("PTSans-Bold"),
		url("../fonts/ptsansbold.woff2") format("woff2"),
		url("../fonts/ptsansbold.woff") format("woff")

@font-face
	font-weight 400
	font-family "Courier New"
	font-style normal

	src local("Courier New"), local("Courier-New"),
		url("../fonts/courier-new.woff2") format("woff2"),
		url("../fonts/courier-new.woff") format("woff")