$smallMobile = 550px
$mobile = 767px
$tablet = 1024px

$ptsans = Pt Sans, sans-serif
$courier = Courier New, monospace

$bg-body = #797979
$bg-workspace = #f0d1a2
$font-brown =#2f1b15
$font-grey = #231f20
$font-light-grey= #3d3d3d
