.workspace
	display block
	width 1000px
	margin-x auto
	retinaBackground(patern, 'jpg')
	background-repeat repeat
	background-color $bg-workspace
	+below($tablet)
		width 100%
		// background-image none
	+below($mobile)
		min-width 300px
