.checkbox-list
	// outln magenta
	display flex
	align-content flex-start
	flex-direction column
	flex-wrap wrap
	height 250px
	&__item
		// outln green
		position relative
		width 230px
		margin-bottom 10px
		margin-right 26px
		padding-left 28px
	&__input
		visHidden()
	&__label
		// outln red
		font-size 21px
		line-height 25px
		color black
		cursor pointer
		position relative
		for num in 1 2 3
			&_apt_bug{num}
				display inline-block
				transform translateY(num px)
			&_apt_bug1
				margin-left -1px //							¯\_(ツ)_/¯
	&__label_blog_link
		display inline-block
		height 24px
		color #1f5f97
		text-decoration none
		border-bottom 1px solid #1f5f97
		&:hover
			color red
	&__label:hover
		opacity 0.6
	&__label:active
		opacity 0.3
	&__item:nth-child(n + 15) label
		left 13px
	&__item:nth-child(n + 17 ) label
		top 3px

	&__label
		&::after
			content ''
			position absolute
			top 6px
			left -27px
			display block
			sprite($checkbox)
			cursor pointer
	&__item:nth-child(7) label::after
		top 5px
	&__item:nth-child(n + 8) label::after
		left -25px
	&__item:nth-child(n + 15) label::after
		left -24px
	&__item:nth-child(n + 17) label::after
		top 3px
	&__input:checked + label::before
		content ''
		position absolute
		top 0px
		left -22px
		display block
		sprite($tick)
		transform rotate(45deg) scale(1.2)
	&__item:nth-child(7) label::before
		top -1px
	&__item:nth-child(n + 8) label::before
		left -20px
	&__item:nth-child(n + 15) label::before
		left -19px
	&__item:nth-child(n + 17) label::before
		top -3px

	+below($tablet)
		align-content center
		height 380px
		&__label:hover
			opacity 1
		&__item:nth-child(n + 15) label
			left 0
		&__item:nth-child(n + 17 ) label
			top 0
		&__item:nth-child(7) label::after
			top 6px
		&__item:nth-child(n + 8) label::after
			left -27px
		&__item:nth-child(n + 15) label::after
			left -27px
		&__item:nth-child(n + 17) label::after
			top 6px
		&__item:nth-child(7) label::before
			top 0
		&__item:nth-child(n + 8) label::before
			left -22px
		&__item:nth-child(n + 15) label::before
			left -22px
		&__item:nth-child(n + 17) label::before
			top 0
	+below($smallMobile)
		height auto