.signature
	// outln blue
	display flex
	height 100px
	justify-content space-between
	align-items center
	font-family $courier
	font-weight 700
	backImage(signature)
	background-position 50% 60%
	background-size 30%
	&__post
		position relative
		&::after
			content 'КРЕТНО--СЕКРЕТНО--СЕКРЕТН'
			position absolute
			top 5px
			left 36px
			width 115%
			height 18px
			border-top 1px solid red
			border-bottom 1px solid red
			transform rotate(2deg)
			font-family $courier
			font-size 14px
			background-color #FFFACD
	&__name
		margin-right 50px
		position relative
		&::after
			content 'ЕКРЕТ'
			position absolute
			top 2px
			left 65px
			width 35%
			height 18px
			border-top 1px solid red
			border-bottom 1px solid red
			transform rotate(-1deg)
			font-family $courier
			font-size 14px
			background-color #FFFACD
	+below($tablet)
		flex-direction column
		&__post
			align-self flex-start
		&__name
			align-self flex-end
	+below($mobile)
		background-size 170px
		&__post
			margin-bottom 50px
		&__name
			margin-top 40px
