.text-section
	// outln tomato
	display block
	margin-right 7px
	margin-left 4px
	font-family $courier
	font-weight 400
	font-size 30px
	line-height 60px
	text-align justify
	backImage(underline, png, repeat)
	background-size 1000px 59px
	background-position 0 -7px
	& a
		color #1f5f97
	&_file
		text-indent: 2em;
		font-size 20px
		line-height 30px
		background-image none


